.vscode/

build/
output/
out/
bin/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
compile_commands.json

Testing/

*.o
*.a
*.so
*.dll
*.exe
*.out

*.meowb

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.temp
